# Client Project: The Lab @ DC

## Project Title: {here}

### Authors: {names}
- Cohorts of the Data Science Immersive, General Assembly @ Washington DC campus

In this notebook, we have Exploratory Data Analysis on the datasets. **This is notebook 2 of 3.**

### Import Libraries

In [105]:
# import basic libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

### Read CSVs

In [130]:
csr_train   = pd.read_csv('./assets/csr/csr_train.csv', low_memory=False)
shots_train = pd.read_csv('./assets/mpd/shots_train.csv', low_memory=False)
shots_test  = pd.read_csv('./assets/mpd/shots_test.csv', low_memory=False)

### Basic EDAs and Data Cleaning

In [117]:
csr_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1231233 entries, 0 to 1231232
Data columns (total 31 columns):
Unnamed: 0                    1231233 non-null int64
X                             1231233 non-null float64
Y                             1231233 non-null float64
OBJECTID                      1231233 non-null int64
SERVICECODE                   1231233 non-null object
SERVICECODEDESCRIPTION        1231233 non-null object
SERVICETYPECODEDESCRIPTION    1230379 non-null object
ORGANIZATIONACRONYM           1231232 non-null object
SERVICECALLCOUNT              1231233 non-null int64
ADDDATE                       1231233 non-null object
RESOLUTIONDATE                1145201 non-null object
SERVICEDUEDATE                1218530 non-null object
SERVICEORDERDATE              1231233 non-null object
INSPECTIONFLAG                1231233 non-null object
INSPECTIONDATE                434130 non-null object
INSPECTORNAME                 40361 non-null object
SERVICEORDERSTATUS            1230380 non-null object
STATUS_CODE                   1079432 non-null object
SERVICEREQUESTID              1231233 non-null object
PRIORITY                      1228556 non-null object
STREETADDRESS                 1181503 non-null object
XCOORD                        1231233 non-null float64
YCOORD                        1231233 non-null float64
LATITUDE                      1231233 non-null float64
LONGITUDE                     1231233 non-null float64
CITY                          1180909 non-null object
STATE                         1180909 non-null object
ZIPCODE                       1231217 non-null float64
MARADDRESSREPOSITORYID        1042071 non-null float64
WARD                          1225012 non-null object
DETAILS                       786667 non-null object
dtypes: float64(8), int64(3), object(20)
memory usage: 291.2+ MB

In [118]:
csr_train.isnull().sum().sort_values(ascending=False)

INSPECTORNAME                 1190872
INSPECTIONDATE                 797103
DETAILS                        444566
MARADDRESSREPOSITORYID         189162
STATUS_CODE                    151801
RESOLUTIONDATE                  86032
CITY                            50324
STATE                           50324
STREETADDRESS                   49730
SERVICEDUEDATE                  12703
WARD                             6221
PRIORITY                         2677
SERVICETYPECODEDESCRIPTION        854
SERVICEORDERSTATUS                853
ZIPCODE                            16
ORGANIZATIONACRONYM                 1
SERVICECALLCOUNT                    0
SERVICECODE                         0
OBJECTID                            0
Y                                   0
X                                   0
SERVICECODEDESCRIPTION              0
INSPECTIONFLAG                      0
ADDDATE                             0
SERVICEORDERDATE                    0
SERVICEREQUESTID                    0
XCOORD                              0
YCOORD                              0
LATITUDE                            0
LONGITUDE                           0
Unnamed: 0                          0
dtype: int64

In [119]:
shots_train.head()

,Unnamed: 0,ID,Type,Date,Time,Source,Latitude,Longitude
0,0,5D39700,Multiple_Gunshots,2014-01-01,00:00:02,WashingtonDC5D,38.917,-77.012
1,1,5D39701,Multiple_Gunshots,2014-01-01,00:00:06,WashingtonDC5D,38.917,-77.002
2,2,5D39702,Multiple_Gunshots,2014-01-01,00:00:07,WashingtonDC5D,38.917,-76.987
3,3,7D119445,Multiple_Gunshots,2014-01-01,00:00:10,WashingtonDC7D,38.823,-77.000
4,4,1D55993,Multiple_Gunshots,2014-01-01,00:00:10,WashingtonDC1D,38.893,-76.993

In [120]:
shots_train.shape

(28343, 8)

In [121]:
shots_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28343 entries, 0 to 28342
Data columns (total 8 columns):
Unnamed: 0    28343 non-null int64
ID            28339 non-null object
Type          28343 non-null object
Date          28343 non-null object
Time          28343 non-null object
Source        28343 non-null object
Latitude      28343 non-null float64
Longitude     28343 non-null float64
dtypes: float64(2), int64(1), object(5)
memory usage: 1.7+ MB

In [122]:
def shot_spot_preprocess(df):
    shots_train.set_index(['ID'], inplace=True)
    shots_train.drop(['Unnamed: 0'], axis=1, inplace=True)
    shots_train.Source = shots_train.Source.apply(lambda DC: DC.replace('WashingtonDC', ''))
    shots_train.Date = pd.to_datetime(shots_train.Date)
    shots_train.Time = pd.to_datetime(shots_train.Time)
    return df

shots_spot = shot_spot_preprocess(shots_train)

In [123]:
def crimespot_preprocess(df):
    # Removing unused or redundent information
    csr_train.drop(['Unnamed: 0', 'INSPECTORNAME', 'CITY', 'STATE', 'X', 'Y'], axis=1, inplace=True)
    csr_train.columns = map(str.lower, csr_train.columns) # Easier to work with lowercase columns
    csr_train.serviceduedate.fillna('0', inplace=True)
    csr_train.resolutiondate.fillna('0', inplace=True)
    csr_train.inspectiondate.fillna('0', inplace=True)
    timestamp = ['adddate', 'resolutiondate', 'serviceduedate', 'serviceorderdate', 'inspectiondate']
    for x in timestamp:
        csr_train[x] = csr_train[x].map(lambda x: x.strip('Z').replace('T', ' '))
    csr_train.zipcode.dropna(inplace=True) # only 16 null values.
    csr_train.zipcode = csr_train.zipcode.astype(str)
    csr_train.ward.dropna(inplace=True) # missing 6221. Maybe we can put in the Ward based on Zipcode
    csr_train.ward = csr_train.ward.map(lambda x: x.strip('Ward'))
    csr_train.ward = csr_train.ward.str.strip()
    csr_train.ward = csr_train['ward'].str.strip('.0') 
    return df

csr_train = crimespot_preprocess(csr_train)

In [125]:
csr_train.ward.value_counts().sum()

1225012

In [160]:
for index, row in csr_train.iterrows():
    if(pd.isnull(row['WARD'])):
        row['WARD'] = row['ZIPCODE']
        #         for x in csr_train:
#     if pd.isnull(x):
#         x['WARD'] = csr_train.ZIPCODE

In [161]:
csr_train.WARD.isnull().sum()

6221

In [162]:
csr_train.WARD.value_counts()

2.0       172013
6.0       154744
4.0       119513
5.0       116919
1.0        98617
7.0        93001
3.0        83809
2          73573
8.0        63931
6          44395
4          23647
5          21686
1          19584
3          19271
Ward 4     15785
Ward 6     15764
7          15511
Ward 5     14521
Ward 3     11658
Ward 7     10926
8          10630
Ward 1      9794
Ward 2      9351
Ward 8      6369
Name: WARD, dtype: int64

In [70]:
csr_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1231233 entries, 0 to 1231232
Data columns (total 25 columns):
objectid                      1231233 non-null int64
servicecode                   1231233 non-null object
servicecodedescription        1231233 non-null object
servicetypecodedescription    1230379 non-null object
organizationacronym           1231232 non-null object
servicecallcount              1231233 non-null int64
adddate                       1231233 non-null object
resolutiondate                1231233 non-null object
serviceduedate                1231233 non-null object
serviceorderdate              1231233 non-null object
inspectionflag                1231233 non-null object
inspectiondate                1231233 non-null object
serviceorderstatus            1230380 non-null object
status_code                   1079432 non-null object
servicerequestid              1231233 non-null object
priority                      1228556 non-null object
streetaddress                 1181503 non-null object
xcoord                        1231233 non-null float64
ycoord                        1231233 non-null float64
latitude                      1231233 non-null float64
longitude                     1231233 non-null float64
zipcode                       1231217 non-null object
maraddressrepositoryid        1042071 non-null float64
ward                          1225012 non-null object
details                       786667 non-null object
dtypes: float64(5), int64(2), object(18)
memory usage: 234.8+ MB

In [73]:
# Unnamed clearly the Original index column.  Delete that.
# X and Y seems to be closely related to 
# Is service code description the same as service type, just a little more information?
# Object ID can be set as the index.
csr_train.iloc[:5, :6]

,objectid,servicecode,servicecodedescription,servicetypecodedescription,organizationacronym,servicecallcount
0,463232,S0011,Alley Cleaning,Street Cleaning,DPW,1
1,463233,S0321,Recycling Collection - Missed,Recycling,DPW,1
2,463234,S0031,Bulk Collection,Bulk Collection,DPW,1
3,463235,S0311,Rat Abatement,DOH,DOH,1
4,463236,S0276,Parking Meter Repair,TOA,DDOT,1

In [74]:
# Service Type, Important to know the different values there.
# Organization to know who is on the task.
# Service call count to see how many times a call is needed.
# Everything just needs to be set to datetime.
csr_train.iloc[:5, 6:12]

,adddate,resolutiondate,serviceduedate,serviceorderdate,inspectionflag,inspectiondate
0,2014-01-02 13:27:40.000,2014-01-15 07:43:42.000,2014-02-18 13:27:40.000,2014-01-02 13:27:40.000,N,0
1,2014-01-02 13:46:57.000,2014-01-06 12:39:39.000,2014-01-06 13:46:57.000,2014-01-02 13:46:57.000,N,2014-01-06 12:39:00.000
2,2014-01-02 13:57:46.000,2014-01-14 14:29:16.000,2014-01-23 13:57:46.000,2014-01-02 13:57:46.000,N,0
3,2014-01-02 13:43:20.000,0,2014-02-24 13:43:20.000,2014-01-02 13:43:20.000,N,0
4,2014-01-02 16:00:59.000,2014-01-07 16:33:48.000,2014-01-09 16:00:59.000,2014-01-02 16:00:59.000,N,0

In [75]:
# Service order data good.  Needs to be broken down into Datetime.
# Inspection Flag, what does that mean?
# Remove Inspector Name
# What does Status code contain? A lot of NaN could be bad
# Service Order Status, Important maybe?
csr_train.iloc[:5, 12:18]

,serviceorderstatus,status_code,servicerequestid,priority,streetaddress,xcoord
0,CLOSED,NaN,14-00000654,STANDARD,2301 BENNING ROAD NE,402365.36
1,CLOSED,NaN,14-00000686,STANDARD,1004 RHODE ISLAND AVENUE NE,400701.99
2,CLOSED,NaN,14-00000707,STANDARD,2333 FAIRLAWN AVENUE SE,402526.12
3,OPEN,NaN,14-00000677,STANDARD,720 VARNUM STREET NW,398034.18
4,CLOSED,NaN,14-00000877,STANDARD,700 - 799 BLOCK OF 22ND STREET NW,395763.56

In [82]:
csr_train[csr_train.ward.loc[:] == 'nan']

,objectid,servicecode,servicecodedescription,servicetypecodedescription,organizationacronym,servicecallcount,adddate,resolutiondate,serviceduedate,serviceorderdate,...,priority,streetaddress,xcoord,ycoord,latitude,longitude,zipcode,maraddressrepositoryid,ward,details
177097,658651,S0011,Alley Cleaning,Street Cleaning,DPW,1,2014-08-04 10:34:13.000,2014-08-28 15:16:46.000,2014-09-17 10:34:13.000,2014-08-04 10:34:13.000,...,STANDARD,11TH STREET NW AND S STREET NW,397655.330012,138469.737886,38.914090,-77.027035,20001.0,NaN,nan,This request was made previously (#14-00210589...
241726,729668,S0457,Tree Inspection,Urban Forrestry,DDOT,1,2014-10-20 12:41:22.000,2014-10-21 13:33:33.000,2014-10-27 12:41:22.000,2014-10-20 12:41:22.000,...,EMERGNCY,11TH STREET NW AND S STREET NW,397655.330012,138469.737886,38.914090,-77.027035,20001.0,NaN,nan,"See tree on S Street, NW at 11th, sw corner fo..."
254077,743610,11,Dead Animal Pickup,Dead Animal,DPW,1,2014-10-28 18:43:09.000,2014-11-03 10:04:16.000,2014-10-30 18:43:09.000,2014-10-28 18:43:09.000,...,STANDARD,11TH STREET NW AND S STREET NW,397655.330012,138469.737886,38.914090,-77.027035,20001.0,NaN,nan,NaN
256920,746550,S0276,Parking Meter Repair,TOA,DDOT,1,2014-11-28 21:06:18.000,2014-12-01 13:33:09.000,2014-12-05 21:06:18.000,2014-11-28 21:06:18.000,...,STANDARD,11TH STREET NW AND S STREET NW,397655.330012,138469.737886,38.914090,-77.027035,20001.0,NaN,nan,not printing
322483,545004,S0361,Sidewalk Repair,Toa-Street & Bridge Maintenance,DDOT,1,2015-09-21 20:19:18.000,0,2016-02-16 18:00:00.000,2015-09-21 20:19:18.000,...,STANDARD,NaN,398494.159997,138304.750014,38.912606,-77.017363,20001.0,NaN,nan,NaN
359657,810193,S0276,Parking Meter Repair,TOA,DDOT,1,2015-03-14 09:06:56.000,2015-03-14 09:48:05.000,2015-03-23 09:06:56.000,2015-03-14 09:06:56.000,...,STANDARD,EASTERN AVENUE NW AND CARROLL STREET NW,398803.779837,145206.746756,38.974781,-77.013805,NaN,NaN,nan,NaN
361301,811994,S0261,Parking Enforcement,Parking Enforcement,DPW,1,2015-03-16 08:23:08.000,2015-03-16 09:18:10.000,2015-03-18 08:23:08.000,2015-03-16 08:23:08.000,...,STANDARD,EASTERN AVENUE NW AND CARROLL STREET NW,398803.779837,145206.746756,38.974781,-77.013805,NaN,NaN,nan,The entire area is not monitored and people ar...
385079,837242,S0311,Rat Abatement,DOH,DOH,1,2015-03-26 09:56:53.000,2015-06-30 10:22:40.000,2015-05-15 09:56:53.000,2015-03-26 09:56:53.000,...,STANDARD,11TH STREET NW AND S STREET NW,397655.330012,138469.737886,38.914090,-77.027035,20001.0,NaN,nan,Alley behind S St NW between 10th and 11th has...
386281,836451,S0301,Pothole,Street & Bridge Maintenance,DDOT,1,2015-04-06 13:35:27.000,2015-04-11 15:24:03.000,2015-04-09 13:35:27.000,2015-04-06 13:35:27.000,...,EMERGNCY,EASTERN AVENUE NW AND CARROLL STREET NW,398803.779837,145206.746756,38.974781,-77.013805,NaN,NaN,nan,NaN
419650,926937,S0276,Parking Meter Repair,TOA,DDOT,1,2015-05-14 18:43:52.000,2015-05-14 19:33:20.000,2015-05-21 18:43:52.000,2015-05-14 18:43:52.000,...,STANDARD,11TH STREET NW AND S STREET NW,397655.330012,138469.737886,38.914090,-77.027035,20001.0,NaN,nan,NaN
422659,929948,S0457,Tree Inspection,Urban Forrestry,DDOT,1,2015-05-19 11:16:11.000,2015-05-20 09:24:38.000,2015-05-27 11:16:11.000,2015-05-19 11:16:11.000,...,EMERGNCY,EASTERN AVENUE NW AND CARROLL STREET NW,398803.779837,145206.746756,38.974781,-77.013805,NaN,NaN,nan,THE TREE LIMB HAS FELL ONTO A POWER LINE
424919,932210,S04TP,Tree Planting,Urban Forrestry,DDOT,1,2015-05-06 14:45:39.000,2015-05-06 14:45:39.000,2018-03-02 14:45:39.000,2015-05-06 14:45:39.000,...,STANDARD,11TH STREET NW AND S STREET NW,397655.330012,138469.737886,38.914090,-77.027035,20001.0,NaN,nan,NaN
442306,954599,S0346,Sanitation Enforcement,Sanitation Enforcement,DPW,1,2015-06-17 15:24:50.000,2015-06-23 14:19:55.000,2015-06-24 15:24:50.000,2015-06-17 15:24:50.000,...,STANDARD,11TH STREET NW AND S STREET NW,397655.330012,138469.737886,38.914090,-77.027035,20001.0,NaN,nan,high grass and trash and debris and trash bags
452628,964928,S0276,Parking Meter Repair,Transportation Operations Administration,DDOT,1,2015-08-28 17:26:24.000,2016-01-16 22:45:10.000,2015-09-04 16:00:00.000,2015-08-28 17:26:24.000,...,STANDARD,800 - 899 BLOCK OF N STREET NW,397965.720000,137709.000003,38.907238,-77.023454,20001.0,NaN,nan,NaN
470122,982856,S0276,Parking Meter Repair,Transportation Operations Administration,DDOT,1,2015-09-03 05:56:53.000,2016-01-16 21:16:27.000,2015-09-10 16:00:00.000,2015-09-03 05:56:53.000,...,STANDARD,2000 - 2099 BLOCK OF 35TH STREET NW,393978.510000,138813.450003,38.917169,-77.069434,20007.0,NaN,nan,NaN
470157,983075,S0276,Parking Meter Repair,Transportation Operations Administration,DDOT,1,2015-09-04 14:24:33.000,2016-01-16 21:56:27.000,2015-09-14 14:24:00.000,2015-09-04 14:24:33.000,...,STANDARD,600 - 699 BLOCK OF INDEPENDENCE AVENUE SW,398185.730000,135525.360003,38.887567,-77.020912,20004.0,NaN,nan,Due to a technical issue with the system or la...
470310,983743,S0276,Parking Meter Repair,Transportation Operations Administration,DDOT,1,2015-08-31 18:42:01.000,2016-01-16 22:53:48.000,2015-09-08 16:00:00.000,2015-08-31 18:42:01.000,...,STANDARD,1800 - 1823 BLOCK OF 14TH STREET NW,397228.810000,138511.210003,38.914462,-77.031953,20009.0,NaN,nan,NaN
470604,985951,S0276,Parking Meter Repair,Transportation Operations Administration,DDOT,1,2015-09-01 11:54:05.000,2016-01-16 20:55:55.000,2015-09-09 11:54:00.000,2015-09-01 11:54:05.000,...,STANDARD,1300 - 1399 BLOCK OF 9TH STREET NW,397921.290000,137783.520003,38.907909,-77.023966,20001.0,NaN,nan,NaN
471481,989686,S0276,Parking Meter Repair,Transportation Operations Administration,DDOT,1,2015-09-03 10:38:15.000,2015-09-04 12:53:23.000,2015-09-11 10:38:00.000,2015-09-03 10:38:15.000,...,STANDARD,1500 - 1599 BLOCK OF U STREET NW,396920.260000,138793.190003,38.917001,-77.035512,20009.0,NaN,nan,NaN
471494,989699,S0276,Parking Meter Repair,Transportation Operations Administration,DDOT,1,2015-09-03 13:33:22.000,2015-09-04 12:53:51.000,2015-09-11 13:33:00.000,2015-09-03 13:33:22.000,...,STANDARD,1300 - 1399 BLOCK OF S STREET NW,397330.060000,138469.990003,38.914091,-77.030786,20009.0,NaN,nan,NaN
471608,990641,S0376,Sign New Investigation,Toa-Trans Sys Mnt-Signs,DDOT,1,2015-09-04 15:46:43.000,2016-08-29 12:38:10.000,2016-03-16 15:46:00.000,2015-09-04 15:46:43.000,...,STANDARD,NaN,398945.264445,137601.246621,38.906269,-77.012160,20001.0,906492.0,nan,"By GRAHAM, TRAQUAN: 8/29/2016 12:25:08 PM\nCal..."
471611,990644,S0346,Sanitation Enforcement,SWMA- Solid Waste Management Admistration,DPW,1,2015-09-04 15:52:20.000,2015-09-14 10:06:02.000,2015-09-14 15:52:00.000,2015-09-04 15:52:20.000,...,STANDARD,NaN,398448.130013,138469.299998,38.914088,-77.017894,20001.0,905875.0,nan,NaN
471997,992225,S0276,Parking Meter Repair,Transportation Operations Administration,DDOT,1,2015-09-01 13:31:29.000,2016-01-16 21:35:54.000,2015-09-09 13:31:00.000,2015-09-01 13:31:29.000,...,STANDARD,300 - 369 BLOCK OF INDEPENDENCE AVENUE SW,398621.850000,135524.950003,38.887564,-77.015885,20024.0,NaN,nan,NaN
472231,993610,S0261,Parking Enforcement,PEMA- Parking Enforcement Management Administr...,DPW,1,2015-09-09 08:34:03.000,2015-09-09 09:48:49.000,2015-09-09 17:00:00.000,2015-09-09 08:34:03.000,...,STANDARD,NaN,396835.270011,138793.319998,38.917003,-77.036492,20009.0,NaN,nan,NaN
472308,993994,S0276,Parking Meter Repair,Transportation Operations Administration,DDOT,1,2015-09-12 16:19:33.000,2015-09-21 14:26:28.000,2015-09-18 17:00:00.000,2015-09-12 16:19:33.000,...,STANDARD,1500 - 1599 BLOCK OF U STREET NW,396920.260000,138793.190003,38.917001,-77.035512,20009.0,NaN,nan,NaN
472312,993998,S0276,Parking Meter Repair,Transportation Operations Administration,DDOT,1,2015-09-12 17:12:28.000,2015-09-21 15:08:28.000,2015-09-18 17:00:00.000,2015-09-12 17:12:28.000,...,STANDARD,1300 - 1399 BLOCK OF 9TH STREET NW,397921.290000,137783.520003,38.907909,-77.023966,20001.0,NaN,nan,NaN
472394,994226,S0276,Parking Meter Repair,Transportation Operations Administration,DDOT,1,2015-09-10 13:45:55.000,2015-09-14 16:01:13.000,2015-09-17 13:45:00.000,2015-09-10 13:45:55.000,...,STANDARD,1900 - 1906 BLOCK OF FLORIDA AVENUE NW,396205.500000,138651.470003,38.915722,-77.043753,20009.0,NaN,nan,NaN
472712,994908,S0276,Parking Meter Repair,Transportation Operations Administration,DDOT,1,2015-09-10 16:18:19.000,2016-08-09 16:31:29.000,2015-09-17 16:18:00.000,2015-09-10 16:18:19.000,...,STANDARD,NaN,395980.750010,138681.234398,38.915989,-77.046345,20009.0,NaN,nan,Meter Found Working
473104,995807,S0276,Parking Meter Repair,Transportation Operations Administration,DDOT,1,2015-09-05 13:44:16.000,2015-09-08 12:54:05.000,2015-09-14 17:00:00.000,2015-09-05 13:44:16.000,...,STANDARD,300 - 369 BLOCK OF INDEPENDENCE AVENUE SW,398621.850000,135524.950003,38.887564,-77.015885,20024.0,NaN,nan,NaN
473725,998647,S0276,Parking Meter Repair,Transportation Operations Administration,DDOT,1,2015-09-17 11:03:05.000,2016-01-16 23:10:55.000,2015-09-24 11:03:00.000,2015-09-17 11:03:05.000,...,STANDARD,3900 - 4399 BLOCK OF RESERVOIR ROAD NW,393185.800000,138316.900003,38.912690,-77.078569,20007.0,812695.0,nan,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1229719,1854131,SIGNMISS,Roadway Signs,Toa-Trans Sys Mnt-Signs,DDOT,1,2017-12-31 15:41:19.000,0,2018-07-03 16:00:00.000,2017-12-31 15:41:19.000,...,STANDARD,NaN,398373.366556,135525.439899,38.887569,-77.018749,20024.0,901830.0,nan,NaN
1230019,1854431,S0276,Parking Meter Repair,Transportation Operations Administration,DDOT,1,2017-12-30 12:19:27.000,2018-01-24 20:02:16.000,2018-01-08 17:00:00.000,2017-12-30 12:19:27.000,...,STANDARD,600 - 699 BLOCK OF INDEPENDENCE AVENUE SW,398185.730000,135525.360003,38.887567,-77.020912,20004.0,802689.0,nan,DDOT%e2%80%99s Parking and Ground Transportati...
1230068,1854480,S0276,Parking Meter Repair,Transportation Operations Administration,DDOT,1,2017-12-30 13:06:14.000,2018-01-24 19:47:44.000,2018-01-08 17:00:00.000,2017-12-30 13:06:14.000,...,STANDARD,600 - 699 BLOCK OF INDEPENDENCE AVENUE SW,398185.730000,135525.360003,38.887567,-77.020912,20004.0,802689.0,nan,DDOT%e2%80%99s Parking and Ground Transportati...
1230116,1854528,S0276,Parking Meter Repair,Transportation Operations Administration,DDOT,1,2017-12-30 13:17:37.000,2018-01-24 20:44:22.000,2018-01-08 17:00:00.000,2017-12-30 13:17:37.000,...,STANDARD,400 - 499 BLOCK OF INDEPENDENCE AVENUE SW,398425.500000,135525.420000,38.887568,-77.018148,20024.0,808598.0,nan,DDOT%e2%80%99s Parking and Ground Transportati...
1230177,1854589,S0276,Parking Meter Repair,Transportation Operations Administration,DDOT,1,2017-12-30 14:00:37.000,2018-01-24 20:44:24.000,2018-01-08 17:00:00.000,2017-12-30 14:00:37.000,...,STANDARD,100 - 199 BLOCK OF N STREET SE,399595.650000,134087.990003,38.874620,-77.004660,20003.0,816596.0,nan,DDOT%e2%80%99s Parking and Ground Transportati...
1230218,1854630,S0276,Parking Meter Repair,Transportation Operations Administration,DDOT,1,2017-12-30 15:04:52.000,2018-01-24 19:47:43.000,2018-01-08 17:00:00.000,2017-12-30 15:04:52.000,...,STANDARD,600 - 699 BLOCK OF INDEPENDENCE AVENUE SW,398185.730000,135525.360003,38.887567,-77.020912,20004.0,802689.0,nan,DDOT%e2%80%99s Parking and Ground Transportati...
1230223,1854635,GRAFF,Graffiti Removal,SWMA- Solid Waste Management Admistration,DPW,1,2017-12-30 15:16:55.000,2018-03-01 07:13:35.000,2018-01-15 17:00:00.000,2017-12-30 15:16:55.000,...,STANDARD,NaN,397431.170012,138469.667017,38.914089,-77.029620,20009.0,NaN,nan,Location completed by C.Hamilton and K.Tapscott.
1230225,1854637,GRAFF,Graffiti Removal,SWMA- Solid Waste Management Admistration,DPW,1,2017-12-30 16:22:11.000,2018-04-24 08:04:10.000,2018-01-15 18:00:00.000,2017-12-30 16:22:11.000,...,STANDARD,NaN,397431.170012,138469.667017,38.914089,-77.029620,20009.0,NaN,nan,NaN
1230282,1854694,BICYCLE,Abandoned Bicycle,SWMA- Solid Waste Management Admistration,DPW,1,2017-12-30 19:04:17.000,0,2018-01-29 17:00:00.000,2017-12-30 19:04:17.000,...,STANDARD,NaN,397229.130011,138792.717001,38.916998,-77.031951,20009.0,NaN,nan,NaN
1230314,1854726,GRAFF,Graffiti Removal,SWMA- Solid Waste Management Admistration,DPW,1,2017-12-30 20:49:12.000,2018-02-22 07:19:29.000,2018-01-15 17:00:00.000,2017-12-30 20:49:12.000,...,STANDARD,NaN,397229.130011,138792.717001,38.916998,-77.031951,20009.0,NaN,nan,Location needs to be reported to DDOT for clea...
1230369,1854781,SIGNMISS,Roadway Signs,Toa-Trans Sys Mnt-Signs,DDOT,1,2017-12-31 13:03:35.000,0,2018-07-03 16:00:00.000,2017-12-31 13:03:35.000,...,STANDARD,NaN,398272.230012,137068.559997,38.901469,-77.019918,20001.0,903715.0,nan,NaN
1230370,1854782,SIGNMISS,Roadway Signs,Toa-Trans Sys Mnt-Signs,DDOT,1,2017-12-31 13:04:37.000,0,2018-07-03 16:00:00.000,2017-12-31 13:04:37.000,...,STANDARD,NaN,398272.230012,137068.559997,38.901469,-77.019918,20001.0,903715.0,nan,NaN
1230390,1854802,SIGNMISS,Roadway Signs,Toa-Trans Sys Mnt-Signs,DDOT,1,2017-12-31 21:14:14.000,0,2018-07-03 16:00:00.000,2017-12-31 21:14:14.000,...,STANDARD,NaN,398945.737117,135524.839803,38.887564,-77.012152,20024.0,900828.0,nan,NaN
1230443,1854855,SIGNMISS,Roadway Signs,Toa-Trans Sys Mnt-Signs,DDOT,1,2017-12-31 13:12:15.000,0,2018-07-03 16:00:00.000,2017-12-31 13:12:15.000,...,STANDARD,NaN,398358.230012,137030.239997,38.901124,-77.018927,20001.0,904978.0,nan,NaN
1230444,1854856,GRAFF,Graffiti Removal,SWMA- Solid Waste Management Admistration,DPW,1,2017-12-31 13:10:36.000,2018-02-21 13:32:56.000,2018-01-15 17:00:00.000,2017-12-31 13:10:36.000,...,STANDARD,NaN,398272.230012,137068.559997,38.901469,-77.019918,20001.0,903715.0,nan,Location needs to be reported to DDOT for clea...
1230446,1854858,SIGNMISS,Roadway Signs,Toa-Trans Sys Mnt-Signs,DDOT,1,2017-12-31 13:25:17.000,0,2018-07-03 16:00:00.000,2017-12-31 13:25:17.000,...,STANDARD,NaN,398422.699996,137001.710013,38.900867,-77.018184,20001.0,902234.0,nan,NaN
1230447,1854859,SIGNMISS,Roadway Signs,Toa-Trans Sys Mnt-Signs,DDOT,1,2017-12-31 13:26:38.000,0,2018-07-03 16:00:00.000,2017-12-31 13:26:38.000,...,STANDARD,NaN,398594.932413,136925.006172,38.900177,-77.016198,20001.0,900946.0,nan,NaN
1230450,1854862,SIGNMISS,Roadway Signs,Toa-Trans Sys Mnt-Signs,DDOT,1,2017-12-31 13:28:15.000,0,2018-07-03 16:00:00.000,2017-12-31 13:28:15.000,...,STANDARD,NaN,398594.932413,136925.006172,38.900177,-77.016198,20001.0,900946.0,nan,NaN
1230452,1854864,SIGNMISS,Roadway Signs,Toa-Trans Sys Mnt-Signs,DDOT,1,2017-12-31 13:29:28.000,0,2018-07-03 16:00:00.000,2017-12-31 13:29:28.000,...,STANDARD,NaN,398685.405501,136884.463708,38.899812,-77.015155,20001.0,900045.0,nan,NaN
1230453,1854865,SIGNMISS,Roadway Signs,Toa-Trans Sys Mnt-Signs,DDOT,1,2017-12-31 13:31:58.000,0,2018-07-03 16:00:00.000,2017-12-31 13:31:58.000,...,STANDARD,NaN,398617.731325,136914.789596,38.900085,-77.015935,20001.0,900945.0,nan,NaN
1230455,1854867,SIGNMISS,Roadway Signs,Toa-Trans Sys Mnt-Signs,DDOT,1,2017-12-31 13:33:07.000,0,2018-07-03 16:00:00.000,2017-12-31 13:33:07.000,...,STANDARD,NaN,398685.405501,136884.463708,38.899812,-77.015155,20001.0,900045.0,nan,NaN
1230456,1854868,SIGNMISS,Roadway Signs,Toa-Trans Sys Mnt-Signs,DDOT,1,2017-12-31 13:35:09.000,0,2018-07-03 16:00:00.000,2017-12-31 13:35:09.000,...,STANDARD,NaN,398685.405501,136884.463708,38.899812,-77.015155,20001.0,900045.0,nan,NaN
1230712,1855124,SIGNMISS,Roadway Signs,Toa-Trans Sys Mnt-Signs,DDOT,1,2017-12-31 21:17:07.000,0,2018-07-03 16:00:00.000,2017-12-31 21:17:07.000,...,STANDARD,NaN,398802.143421,135524.688507,38.887562,-77.013807,20024.0,900829.0,nan,NaN
1230713,1855125,SIGNMISS,Roadway Signs,Toa-Trans Sys Mnt-Signs,DDOT,1,2017-12-31 21:19:47.000,0,2018-07-03 16:00:00.000,2017-12-31 21:19:47.000,...,STANDARD,NaN,399213.510013,135527.490011,38.887588,-77.009065,20004.0,900642.0,nan,NaN
1230772,1855184,SIGNMISS,Roadway Signs,Toa-Trans Sys Mnt-Signs,DDOT,1,2017-12-31 20:34:50.000,0,2018-07-03 16:00:00.000,2017-12-31 20:34:50.000,...,STANDARD,NaN,398945.737117,135524.839803,38.887564,-77.012152,20024.0,900828.0,nan,NaN
1230786,1855198,SIGNMISS,Roadway Signs,Toa-Trans Sys Mnt-Signs,DDOT,1,2017-12-31 21:10:05.000,0,2018-07-03 16:00:00.000,2017-12-31 21:10:05.000,...,STANDARD,NaN,398945.737117,135524.839803,38.887564,-77.012152,20024.0,900828.0,nan,NaN
1230821,1855233,S04TP,Tree Planting,Urban Forrestry,DDOT,1,2017-12-31 21:15:45.000,2018-01-02 08:13:10.000,2019-12-13 17:00:00.000,2017-12-31 21:15:45.000,...,STANDARD,NaN,398945.737117,135524.839803,38.887564,-77.012152,20024.0,900828.0,nan,the spaces in question originate from property...
1230824,1855236,S05SL,Streetlight Repair Investigation,Transportation Operations Administration,DDOT,1,2017-12-31 13:07:03.000,2018-01-02 09:28:57.000,2018-01-10 17:00:00.000,2017-12-31 13:07:03.000,...,STANDARD,NaN,398272.230012,137068.559997,38.901469,-77.019918,20001.0,903715.0,nan,NaN
1230909,1855321,S0441,Trash Collection - Missed,SWMA- Solid Waste Management Admistration,DPW,1,2017-12-30 12:30:16.000,2018-01-03 06:03:11.000,2018-01-03 17:00:00.000,2017-12-30 12:30:16.000,...,STANDARD,1325 - 1399 BLOCK OF SPRING ROAD NW,397243.310000,140995.220000,38.936839,-77.031796,20010.0,811330.0,nan,collected by l. ferguson
1231224,1855884,S0181,Illegal Dumping,SWMA- Solid Waste Management Admistration,DPW,1,2017-12-29 10:44:21.000,2018-01-04 17:35:35.000,2018-01-08 10:44:00.000,2017-12-29 10:44:21.000,...,STANDARD,10TH STREET NW AND SPRING ROAD NW,397641.750012,140859.647019,38.935619,-77.027200,20010.0,905345.0,nan,This has been forwarded to Street and Alley Cl...

In [77]:
csr_train.ward.isnull().sum()

6221

In [78]:
csr_train.ward.dropna(inplace=True)

In [79]:
csr_train.ward = csr_train['ward'].str.strip('.0')

In [81]:
csr_train.ward = csr_train.ward.astype(str)

In [83]:
csr_train.ward.value_counts()

2      245586
6      199139
4      143160
5      138605
1      118201
7      108512
3      103080
8       74561
 4      15785
 6      15764
 5      14521
 3      11658
 7      10926
 1       9794
 2       9351
 8       6369
nan      6221
Name: ward, dtype: int64

In [84]:
csr_train.ward.select_dtypes(include['floats'] )

AttributeError: 'Series' object has no attribute 'select_dtypes'

In [135]:
# Service Request ID seems unimportant
# What is the XCOORD and YCOORD?
# Street Address can help us find our quandrants. Do we also want the address or is Latitude and Longitude
# Priority - how many unique values are in there?
csr_train.iloc[:5, 18:24]

      ycoord   latitude  longitude  zipcode  maraddressrepositoryid ward
0  136678.02  38.897950 -76.972732  20002.0                 48983.0    7
1  139442.62  38.922857 -76.991905  20018.0                 76304.0    5
2  134101.82  38.874742 -76.970889  20020.0                286919.0    7
3  141657.91  38.942811 -77.022676  20011.0                249794.0    4
4  136790.11  38.898952 -77.048838  20052.0                     NaN    2

In [105]:
# Remove City and State
# clean up the Ward to just numbers
# Fix Zipcode to be int.
# Longitude is the same as the X column
# Details can be vectorized.
# What is MARADDRESSREPOSITORYID?
csr_train.iloc[:5, 24:31]

                                             details
0  There is some dumping in the rear of this addr...
1           Has not been collected the past 4 weeks.
2               1 television, 2 vacuums, 1 boom box,
3                          requesting ratb abatement
4                               Broken Parking Meter

##### Teams, two datasets have different digits in the Lat's and Long's. Will it be matters?

In [5]:
csr_train[['LATITUDE', 'LONGITUDE']].head()

    LATITUDE  LONGITUDE
0  38.897950 -76.972732
1  38.922857 -76.991905
2  38.874742 -76.970889
3  38.942811 -77.022676
4  38.898952 -77.048838

In [6]:
shots_train[['Latitude', 'Longitude']].head()

   Latitude  Longitude
0    38.917    -77.012
1    38.917    -77.002
2    38.917    -76.987
3    38.823    -77.000
4    38.893    -76.993

In [47]:
shots_train.Type.value_counts()

Multiple_Gunshots         15858
Single_Gunshot            10034
Gunshot_or_Firecracker     2451
Name: Type, dtype: int64