In [128]:
# !pip install pygeocoder

In [129]:
import pandas as pd
import numpy as np
from pygeocoder import Geocoder
import time

In [130]:
shots_psa = pd.read_csv('./assets/mpd/shots_train_preprocessed.csv', index_col='ID')

In [131]:
shots_psa.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28343 entries, 5D39700 to 6D200900
Data columns (total 6 columns):
Type         28343 non-null object
Date         28343 non-null object
Time         28343 non-null object
Source       28343 non-null object
Latitude     28343 non-null float64
Longitude    28343 non-null float64
dtypes: float64(2), object(4)
memory usage: 1.5+ MB

In [132]:
shots_psa.head()

                       Type        Date      Time Source  Latitude  Longitude
ID
5D39700   Multiple_Gunshots  2014-01-01  00:00:02     5D    38.917    -77.012
5D39701   Multiple_Gunshots  2014-01-01  00:00:06     5D    38.917    -77.002
5D39702   Multiple_Gunshots  2014-01-01  00:00:07     5D    38.917    -76.987
7D119445  Multiple_Gunshots  2014-01-01  00:00:10     7D    38.823    -77.000
1D55993   Multiple_Gunshots  2014-01-01  00:00:10     1D    38.893    -76.993

In [159]:
results = Geocoder.reverse_geocode(shots_psa['Latitude'][1], shots_psa['Longitude'][1])

In [160]:
results.formatted_address

'306 U St NE, Washington, DC 20002, USA'

In [135]:
shots = shots_psa.head()

In [154]:
x = -1
for i in shots_psa:
    try:
        x += 1
        shots_psa['Address'] = Geocoder.reverse_geocode(shots_psa['Latitude'][x], shots_psa['Longitude'][x]).formatted_address
        time.sleep(0.1)
    except:
        time.sleep(20)
        pass

In [156]:
shots_psa.head()

,Type,Date,Time,Source,Latitude,Longitude,Address
ID,,,,,,,
5D39700,Multiple_Gunshots,2014-01-01,00:00:02,5D,38.917,-77.012,"4500 East Capitol St NE, Washington, DC 20019,..."
5D39701,Multiple_Gunshots,2014-01-01,00:00:06,5D,38.917,-77.002,"4500 East Capitol St NE, Washington, DC 20019,..."
5D39702,Multiple_Gunshots,2014-01-01,00:00:07,5D,38.917,-76.987,"4500 East Capitol St NE, Washington, DC 20019,..."
7D119445,Multiple_Gunshots,2014-01-01,00:00:10,7D,38.823,-77.000,"4500 East Capitol St NE, Washington, DC 20019,..."
1D55993,Multiple_Gunshots,2014-01-01,00:00:10,1D,38.893,-76.993,"4500 East Capitol St NE, Washington, DC 20019,..."